<div class="admin-title">
    <h2>Dashboard</h2>
    <a href="/add-post" class="button">+ Add new</a>
</div>

<a href="files/manage-files"><h3>Gestion des fichiers</h3></a>

<a href="/manage-members"><h3>Gestion des membres</h3></a>

<h3>Posts</h3>
<ul class="admin-posts">
    <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>"><%= post.title %>&nearr;</a>
            <div class="admin-post-controls">
                <a href="/edit-post/<%= post._id %>" class="btn">Edit</a>
                <form action="/delete-post/<%= post._id %>?_method=DELETE" method="post">
                    <input type="submit" value="Delete" class="btn">
                </form>
            </div>
        </li>
    <% }) %>
</ul>